<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
			rel="stylesheet"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<center>
      <% if (disabled) {%>
				<div class="code">
          <form method="post">
					<div class="btn-group">
						<button onclick="save()" style="cursor:not-allowed;" disabled><i class="far fa-save"></i></button>
						<button href="#" onclick="create()"><i class="fas fa-plus"></i></button>
						<button href="#" onclick="duplicate()"
							><i class="far fa-copy"></i
						></button>
					</div>
					<textarea type="text" id="code" name="code" class="code-content" readonly><%=code%></textarea>
          </form>
				</div>
      <% } else { %>
                  <div class="code">
              <form method="post">
              <div class="btn-group">
                <button onclick="save()"><i class="far fa-save"></i></button>
                <button href="#" onclick="create()"><i class="fas fa-plus"></i></button>
                <button href="#" onclick="duplicate()"
                  ><i class="far fa-copy"></i
                ></button>
              </div>
              <textarea type="text" id="code" name="code" class="code-content" >Type here...</textarea>
              </form>
            </div>
      <% } %>
		</center>
	</body>
</html>
