body {
	font-family: 'Nunito', sans-serif;
	background: #2e285d;
	padding: 0;
	margin: 0;
}
.code-content {
  border-radius: 3px;
	width: 100%;
	min-width: 250px;
	resize: none;
	border: none;
	outline: none;
	min-height: 200px;
	background: #aa6fa8;
	color: #eee;
	box-shadow: 0px 2px 20px rgba(170, 111, 168, 0.9);
	padding: 12px 20px;
	box-sizing: border-box;
	transition: 0.2s;
}
.code-content:focus {
	box-shadow: 0px 0px 10px rgba(170, 111, 168, 1);
}
.code-content::-webkit-scrollbar {
	width: 3px;
}
.code-content::-webkit-scrollbar-track {
	background: #272727;
}
.code-content::-webkit-scrollbar-thumb {
	background: #eee;
}
.btn-group {
  border-radius: 3px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 3;
	background: #eee;
}

.btn-group button {
	padding: 15px;
  background:none;
  border:none;
	color: #598ad2;
  cursor:pointer;
}
.btn-group button svg {
	font-size: 25px;
}
.code {
	width: 75%;

	margin-top: 50px;
}
